body
{
    color: rgb(78, 178, 78);
    background-color:#000000;
    text-align:left;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#url
{
    color: rgb(1, 1, 227);
}
#name
{
    text-align: center;
}

hr{
    width: 100%;
    border-style: none;
    border-top-style: dashed;
    border-width: 5px;
    border-color: #150050;
}