body
{
    color: rgb(78, 178, 78);
    background-color: rgb(19, 18, 18);
    text-align:left;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#url
{
    color: rgb(111, 57, 186);
}
#name
{
    text-align: center;
}