body{
    color: rgb(214, 220, 185);
    background-color:#000000;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#url
{
    color: #cce068;
}
#par
{ 
    margin: auto;
    height: 10%;
    width: 45%;
   
}

table{
    margin: auto;

}

ul{
    list-style: none;
}

h4{
    color: #c17f41
}


h3{
    color: #c17f41
}


h1{
    color: #c17f41
}

hr{
    width: 60%;
    border-style: dotted;
    border-top-style: dashed;
    border-width: 5px;
    border-color: #6514a8;
} /*Podemos poner aqui un atributo de ALTURA o de ANCHURA porque se refiere al area de contenido, que serian esas cajas que dice  
    Angela Yu que describen los contenidos CSS, es interesante comprender esto para manipular cuando fuese necesario estos
    atributos en cualesquiera casos que se presentasen. Cabe mentionar tambien que algunos elementos del documento
    HTML como el body tienen algunos valores predeterminados que bloquean ciertas*/