body
{
    color: rgb(90, 240, 90);
    background-color: black;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

#urlGit
{
    color:rgb(18, 51, 235);
}

#ma::after
{
    content: " 🔴";
}

#ju::after
{
    content: "🟤";
}